/// PRIMARY COLORS

$background-color: hsl(233, 47%, 7%);
$dark-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

/// NEUTRAL COLORS

$white: hsl(0, 0%, 100%);
$transparent-para: hsla(0, 0%, 100%, 0.75);
$transparent-stats: hsla(0, 0%, 100%, 0.6);

/// FONT FAMILYS

$inter: "Inter", sans-serif;
$lexend: "Lexend Deca", sans-serif;

/// GLOBAL

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 15px;
  color: white;
}

body {
  background-color: $background-color;
}

/// CONTAINER

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.stat-container {
  width: 325px;
  height: 745px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $dark-blue;
}

/// IMAGE

.image-header {
  width: 100%;

  img {
    width: 100%;
  }

  .cover-image {
    background-color: $soft-violet;
    position: absolute;
    width: 325px;
    height: 238px;
    top: 78px;
    opacity: 0.4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

/// STAT TEXT

.stat-text {
  text-align: center;
  padding: 1.3rem;
  .insight {
    h1 {
      font-size: 26px;
      font-family: $inter;
      padding: 0rem 0.85rem;
      margin: 0.85rem 0rem 0.95rem 0rem;
      .purple {
        color: $soft-violet;
        font-size: 26px;
      }
    }
  }

  .info {
    p {
      font-family: $inter;
      color: $transparent-para;
      font-weight: 400;
      opacity: 0.75;
      padding: 0 0.75rem;
      line-height: 24px;
    }
  }
}

/// STATISTICS

.statistic-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $lexend;

  .stats {
    margin: 0.55rem 0;
    p {
      font-size: 22px;
      text-align: center;
      line-height: 28px;
    }

    p:nth-of-type(2) {
      font-size: 12px;
      text-transform: uppercase;
      color: $transparent-stats;
    }
  }
}

@media screen and (min-width: 1400px) {
  /// CONTAINER

  .stat-container {
    width: 1250px;
    height: 500px;
  }

  .flex-group {
    display: flex;
    flex-direction: row-reverse;
  }

  /// IMAGE

  .image-header {
    width: 75%;
    height: 100%;
    img {
      width: 100%;
    }

    .cover-image {
      background-color: $soft-violet;
      position: absolute;
      width: 610px;
      height: 500px;
      top: 200px;
      opacity: 0.4;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0px;
    }
  }

  /// STAT TEXT

  .info-flex {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 75%;
    .statistic-container {
      flex-direction: row;
      justify-content: space-between;
      width: 400px;
      margin-left: 0.95rem;
    }
  }

  .stat-text {
    padding: 1.3rem;
    .insight {
      h1 {
        font-size: 38px;
        font-family: $inter;
        padding: 0rem 0.85rem;
        margin: 0.85rem 0rem 2rem 0rem;
        text-align: left;
        .purple {
          color: $soft-violet;
          font-size: 38px;
        }
      }
    }

    .info {
      p {
        font-family: $inter;
        color: $transparent-para;
        font-weight: 400;
        opacity: 0.75;
        padding: 0 0.75rem;
        line-height: 30px;
        font-size: 20px;
        text-align: left;
      }
    }
  }

  /// STATISTICS

  .statistic-container {
    .stats {
      margin: 5rem 0;
      p {
        font-size: 28px;
        text-align: center;
        line-height: 36px;
        font-weight: bold;
      }

      p:nth-of-type(2) {
        font-size: 16px;
        text-transform: uppercase;
        color: $transparent-stats;
        font-weight: 400;
      }
    }
  }
}
